* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  background: #f5f7f6;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: white;
  padding: 30px 20px;
  border-right: 1px solid #e5e5e5;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #1f7a4c;
  margin-bottom: 40px;
}

.nav-item {
  display: block;
  padding: 14px;
  border-radius: 10px;
  text-decoration: none;
  color: #444;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.nav-item:hover {
  background: #eaf6ef;
}

.active {
  background: #eaf6ef;
  color: #1f7a4c;
  font-weight: 600;
}

/* Main */
.main {
  flex: 1;
  padding: 40px;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}

/* Upload */
.upload-box {
  border: 2px dashed #cde8d8;
  padding: 50px;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Button */
button {
  background: #1f7a4c;
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background: #17633d;
}

/* Result Card */
.result-card {
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.low {
  background: linear-gradient(135deg, #1f7a4c, #2ecc71);
}

.high {
  background: linear-gradient(135deg, #d63031, #ff7675);
}

/* Circular Progress */
.progress-circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: conic-gradient(#ffffff 0%, rgba(255,255,255,0.2) 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
}

.progress-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.progress-text {
  position: absolute;
  top: 55px;
  left: 50px;
  font-size: 20px;
  font-weight: bold;
}
.mode-toggle {
  display: flex;
  gap: 10px;
}

.mode-toggle button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.active-mode {
  background-color: #28a745;
  color: white;
}


.upload-box {
  border: 2px dashed #4CAF50;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #f9fff9;
}

.preview-container {
  margin-top: 20px;
}

.preview-container img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
